<style>
  html,
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
  @media (max-width: 768px) {
    #main-title {
        width: 30px;
    }
</style>
