<style>
  html,
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    bottom:0px;
    height: 100%;
    left: 35%;
    position: absolute;
    right: 0px;
  }
  #myNavbar{
    color:#bd1d1d;
  }
  @media (max-width: 768px) {
    #main-title {
        width: 30px;
    }

  }
  @media (max-width:726px) {
    /*.dropdown-menu{
      /*width: 20px; !important
      overflow: scroll;
      min-width:160px;
    }*/
    #eachElement {
        overflow: scroll;
      }

  }
  nav{
    left:0;
    position: absolute;
    width: 35%;
  }

    .container {
      height: 100%;
      position: relative;
    }
    input {
      font-size: 12px;
    }
    h1 {
      color: #525454;
      font-size: 22px;
      margin: 0 0 10px 0;
      text-align: center;
    }

      .options-box {
        background: #fff;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
        width: 340px;
      }
      #pano {
        width: 200px;
        height: 200px;
      }
      .text {
        font-size: 12px;
      }

      #mylist {
          padding-top: 30px;
          color:#bd1d1d;
      }

</style>
